@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Подтверждение email";
}

<h1>@ViewData["Title"]</h1>

@if (Model.StatusMessage != null)
{
    <div class="alert alert-success" role="alert">
        @Model.StatusMessage
    </div>
}

<p>
    Вы успешно подтвердили свой email.
</p>
